/**
 * FIXES
 */
html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
*{
  text-renborder-boxdering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.clearfix {
  overflow: auto;
  zoom: 1;
}

/**
 * COLORES - Paleta de colores
 */
.fondo-azul,
.fondo-verde,
.fondo-cafe {
	color: #F1F0EC;
}
.fondo-azul{
	background-color: #3A4853;
}
.fondo-verde{
	background-color: #48ACA9;
}
.fondo-claro{
	background-color: #F1F0EC;
}
.fondo-cafe{
	background-color: #979797;
}

/**
 * HTML TAGS - Tags básicos que se se usan en el sitio
 */
body{
	font-family: 'Open Sans', sans-serif;
	color: #3A4853;
	line-height: 1.4;
}
a{
	color: #4ECDC4;
	text-decoration: none;
}
a:hover{
	color: #fff;
	text-decoration: underline;
}
.fondo-verde a{
	color: #F1F0EC;
}
h1{
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: .8rem;
	letter-spacing: 0.2rem;
}
h2{
	font-family: 'Roboto Slab', serif;
	font-size: 2rem;
	margin-bottom: .8rem;
	font-weight: 400;
}
h3, h4, h5, h6{
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: .5rem;
	letter-spacing: 0.2rem;
}

/**
 * LAYOUT - Estructura gráfica del sitio
 */
section{
	width: 100%;
}
.container{
	padding: 2rem 1rem 3rem;
	margin: 0 auto;
	max-width: 728px;
	width: 100%;
}

/**
 * HEADER - Todos los elementos del header
 */
header {
	font-family: 'Montserrat', sans-serif;
    padding: 2rem;
    text-transform: uppercase;
}
.logo{
	float: left;
	font-size: 1.6rem;
	letter-spacing: .8rem;
}
nav{
	float: right;
}
nav a{
	color: #FFF;
	font-size: .8rem;
	letter-spacing: .2rem;
	line-height: 2.2;
	margin: auto .4rem;
}
nav a:hover{
	opacity: 0.8;
}

/**
 * BOTONES
 */
.btn,
button{
	display: inline-block;
	line-height: 1.6;
	font-weight: 700;
	padding: 0.8rem 1.2rem;
	text-transform: uppercase;
}
.btn:hover{
	opacity: .9;
	text-decoration: none;
}

/**
 * FORMULARIOS -  Todos los elementos de formulario
 */
input,
textarea{
	color: #FFF;
	background: #4ECDC4;
	border: none;
	margin: .5rem auto;
	width: 100%;
}
input{
	height: 50px;
	padding: 0 1rem;
}
textarea{
	padding: 1rem;
}
button{
	background: #fff;
	border: none;
	color: #48ACA9;
}
button:hover{
	opacity: .8;
}
/* Placeholder */
::-webkit-input-placeholder{
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  ccolor: #fff;
}
::-ms-input-placeholder { /* Edge */
  color: #fff;
}
:placeholder-shown { /* Standard */
  color: #fff;
}

/**
 * STYLE-GUIDE - Utilizados únicamente para esta guía de estilos
 */
.brand-font{
	font-family: 'Montserrat', sans-serif;
	opacity: .6;
	text-transform: uppercase;
	letter-spacing: .2rem;
}
.texto-explicativo{
	border-bottom: solid thin rgba(255, 255, 255, 0.5);
	margin: 0;
	opacity: .5;
	padding-bottom: 1.5rem;
}
.barra{
	margin: 1rem auto;
	padding: 1rem;
	font-weight: 700;
	text-align: center;
}

